# Dependencias do Node (Pasta gerada automaticamente)
node_modules/

# Arquivos de configuracao de ambiente (senhas/connfig. locais) 
.env

# Logs (logs de erro)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta temporária do Vault criada no C (Para teste local):
/c/tempvault/